/.quarto/
**/*.quarto_ipynb
.DS_Store
__pycache__/
*.pyc
_site/
.venv/
venv/
ENV/
env/
docs/
*.pdf
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/
.dmypy.json
dmypy.json
.idea/
.vscode/
*.swp
*.swo
*~
